* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hyper,
details div {
    display: flex;
    flex-flow: column nowrap !important;
    padding: 5px 0 !important;
    padding-right: 15px !important;
    gap: 0.5rem;
    cursor: pointer !important;
}

.item-show,
.order-related .order-item-show {
    /* font-family: inherit; */
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    line-height: 1em;
}

.order-related .order-item-show {
    display: inline-block;
}

.hyper .item {
    display: inline-flex;
    font-size: 12px !important;
    font-weight: 500 !important;
    color: rgb(117, 117, 117) !important;
}

.hyper .item a:hover {
    text-decoration: underline !important;
    color: #157ebc !important;
}

.order-related {
    cursor: default;
    margin-right: 2rem;
}

.order-related .order-item-show {
    margin-bottom: 0.5rem !important;
    line-height: 20px;
}

.order-related .order-child {
    display: block;
    font-size: 12px !important;
    font-weight: 500 !important;
    color: rgb(117, 117, 117) !important;
    line-height: 20px;
}

.stay-connected {
    background: linear-gradient(282deg, #526b7a, #0f4667 39%, #0a334c);
    padding: 15px;
    width: 18.625rem;
    max-height: 11.5rem !important;
}

.stay-connected p {
    color: #fff !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    max-height: 12rem !important;
}

/* Font Awesome */
.nav-2 .fa-stack {
    display: inline-block;
    position: relative;
    line-height: 1.875rem;
    width: 1.875rem;
    height: 1.875rem;
    border: none !important;
    background-color: transparent;
    margin: 5px !important;
}

.hexagon {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: #fff;
    border: none !important;
    border-radius: 50%;
}

.fa-stack-1x {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: calc(1.875rem / 2) !important;
    color: black;
    inset: 0;
    border: none !important;
}

.footer-1 {
    background-color: #ECECEC !important;
}

.footer-1 p {
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 1.3rem;
}

.footer-1 a {
    text-decoration: underline !important;
}

.footer-1 .line-1 h2 {
    font-weight: 500;
    font-size: 1.25em;
    padding: 15px 0 !important;
    color: #000;
    line-height: 1.3rem;
}

.footer-1-container {
    overflow: hidden !important;
    height: 200px;
}

.footer-1 button {
    position: absolute;
    border: none;
    color: #157ebc;
    background: linear-gradient(to bottom, #00000000 0%, #ececec 50%);
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    height: 40px;
    text-align: right;
    font-family: inherit;
}

.less {
    display: none;
    right: 0 !important;
}

.more {
    display: block;
    right: 0;
    bottom: 0.4rem !important;
    width: 100%;
}

.footer-3 .left-side p {
    font-size: 12px !important;
}

.footer-3 .right-side p {
    font-size: 13px !important;
    color: #4b4b4b !important;
}


/* BLOG SECTION */
.blog-section .blog-title-h2 {
    font-size: 22px;
    font-weight: 700;
}

.blog-slider-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* height: 17.85rem; */
    height: 17.675rem;
    gap: 1.5rem !important;
    white-space: nowrap !important;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    scroll-behavior: smooth;
    /* scrollbar-width: 1px !important; */
}

.blog-slider-section::-webkit-scrollbar {
    width: 15px;
}

.blog-slider-section::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    /* border: 1px solid black; */
    border-radius: 15px;
}

.blog-slider-section:hover::-webkit-scrollbar-thumb {
    transition: all ease-in-out 1s;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.191);
    border: 1px solid rgba(0, 0, 0, 0.091);
}

.blog-section .blog-child-box {
    min-width: 24.23rem !important;
    box-shadow: 0px 0px 3px -2px;
    border: none;
    border-radius: 5px !important;
    display: inline-block;
    overflow: hidden !important;
}

.blog-section .blog-child-box .blog-box-img {
    width: 100%;
    /* max-height: 190px !important; */
}

.blog-section .blog-child-box .blog-box-img img {
    width: 100%;
    height: 100%;
}

.blog-section .blog-child-box .blog-box-h2 {
    width: 100%;
    font-weight: 500 !important;
    color: rgb(117, 117, 117) !important;
}

/* BLOG BUTTON */
.blog-section .blog-btn-view {
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 16px 50px;
    min-width: 200px;
    width: 200px;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    font-family: inherit;
    color: #157ebc;
    border: 1px solid #157ebc;
    background-color: #fff;
    cursor: pointer;
}

.blog-section .blog-btn-view button {
    display: inline-block !important;
}

.blog-section .blog-btn-view:hover {
    color: #fff !important;
    background-color: #157ebc !important;
}

/* TOP NAVBAR */
.top-navbar-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* white-space: nowrap !important; */
    overflow-x: auto !important;
    overflow-y: hidden !important;
    scroll-behavior: smooth;
    max-width: 76rem !important;
    margin-left: auto;
    margin-right: auto;
    justify-content: start;
    align-items: center;
    padding-left: 0.5rem !important;
}

.top-navbar .top-nav-btn {
    padding: 5px 12px;
    min-height: 50px;
    border-radius: 5px !important;
    display: flex !important;
    flex-flow: row wrap;
    justify-content: center !important;
    align-items: center !important;
    margin-left: 2px;
    margin-right: 2px;
}

/* TOP NAVBAR */
.top-navbar .top-nav-btn:hover {
    background-color: rgba(171, 171, 171, 0.100);
}

.top-navbar .top-nav-btn img,
.top-navbar .top-nav-btn p {
    display: inline-block;
}

/* TOP BLUE SECTION */
.blue-section {
    position: relative;
    height: 145px;
}

.blue-sec-part-1 {
    font-weight: 600;
    background: linear-gradient(-45deg, #abf5ff, #5ce0f1);
    padding: 0 10px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
    height: 75px;
    z-index: 1300;
    width: 100%;
    overflow: hidden;
    -webkit-box-pack: center;
    justify-content: center;
    color: #00446C;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-text-align: center;
    text-align: center;
    line-height: 1.6;
}

.blue-sec-part-1 a {
    letter-spacing: 1px;
    font-size: 14px;
    color: #00446C;
    text-decoration: none;
    text-align: center;
    line-height: 1.6;
}

.footer-2 .get-app {
    display: none;
}

.large-none {
    display: none;
}

@media only screen and (max-width: 479px) {
    .container {
        width: 100vw !important;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }

    .blog-section .blog-child-box {
        min-width: calc(100% - 12%) !important;
    }

    .blog-section .blog-btn-view {
        width: 98%;
        border-radius: 4px;
        font-size: 16px;
        text-align: center;
        font-weight: 600;
        font-family: inherit;
        color: #157ebc;
        border: 1px solid #157ebc;
        background-color: #fff;
        /* outline: none; */
        cursor: pointer;
    }

    /* TOP NAVBAR */
    .top-navbar-container {
        margin-left: 0 !important;
        justify-content: start;
        align-items: center !important;
    }

    .top-navbar .top-nav-btn {
        min-width: calc(100% / 6.2) !important;
        border-radius: 5px !important;
        margin-left: 2px;
        margin-right: 2px;
    }

    .top-navbar .top-nav-btn:hover {
        background-color: rgba(171, 171, 171, 0.100);
    }

    .top-navbar .top-nav-btn:active {
        background-color: rgba(171, 171, 171, 0.100);
    }

    .top-navbar .top-nav-btn a {
        display: flex !important;
        flex-flow: column nowrap !important;
        padding: 5px 12px;
        display: flex !important;
        flex-flow: column nowrap !important;
        justify-content: center !important;
        align-items: center !important;

    }

    .top-navbar-container::-webkit-scrollbar {
        display: none;
    }

    .top-navbar .top-nav-btn img,
    .top-navbar .top-nav-btn p {
        display: block;
    }

    .top-navbar .top-nav-btn p {
        font-size: 8px !important;
    }

    /* Footer Download app */
    .get-app {
        display: block !important;
        background: linear-gradient(282deg, #526b7a, #0f4667 39%, #0a334c);
        width: 100%;
    }

    .get-app p {
        color: #fff !important;
    }

    /* Bottom-hyperlinks */
    .bottom-hyperlinks .hyperlinks-section {
        display: flex !important;
        flex-flow: column nowrap !important;
    }

    .order-related .order-child a span {
        margin-left: 0.5rem !important;
        color: #fff;
        background-color: #187DBB;
        padding: 5px;
        border-radius: 50% !important;
    }

    /* .min-display {
        display: block;
    } */

    .min-none {
        display: none !important;
    }

    .large-none {
        display: block !important;
    }

    details {
        padding: 0 0 !important;
        margin: 0 0 !important;
    }

    /* .item-show:hover, */
    details:hover {
        background-color: rgba(171, 171, 171, 0.100);
    }

    details>summary:first-of-type {
        list-style-type: none !important;
    }

    details summary {
        width: 100% !important;
    }
    h2{
        font-size: 18px !important;
        /* font-weight: 500 !important; */
    }
}