.searchbar {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center !important;
    padding: 0.5rem 0.1rem !important;
    position: fixed;
    top: 75px;
    z-index: 1000;
}

.search form {
    display: inline-flex;
    z-index: 999;
    color: #000;
    text-shadow: none;
    height: 50px;
    width: 660px;
    /* border: 1px solid red; */
    margin-left: 3rem;
    margin-right: 3rem;
}

.searchbar .icons_right {
    align-items: center;
    position: relative;
    display: flex !important;
    flex-flow: row nowrap !important;
    justify-content: space-between !important;
    margin-left: auto !important;
}

.searchbar .icons_right i {
    padding: 16px;
}

.searchbar .icons_right .helpBtn {
    width: 90px;
    height: 40px;
    position: relative;
    padding: 10px 25px;
    border-radius: 20px;
    margin: 0 15px;
    top: inherit;
    align-items: center;
    right: 0px;
    z-index: 1200;
    border: none;
    border-left: 2px solid #D8D8D8;
    font-size: 14px;
    font-weight: 500;
    background-color: #f85a01;
    color: #fff;
    box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.3);
    border: hidden;
}

.menuAndLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuAndLogo img {
    /* width: 100px; */
    margin-left: 1.5rem;
}

.menuAndLogo .hamburger-menu {
    margin: 12px 12px;
}

.menuAndLogo .ruchi_hamburger {
    font-size: 22px !important;
    color: rgba(0, 0, 0, 0.87);
    padding: 16px !important;
    background: transparent !important;
    border: none !important;
}

.search_input_group {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #efefef;
    color: #000;
    padding: 0 10px;
    /* Adjust the padding as needed */
    border-radius: 5px;
    /* Add border radius for the input group */
}

.search_input_box {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(30, end);
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 600 !important;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    margin-left: 0.5rem;
}

.search_input_box::placeholder {
    /* color: rgb(59, 59, 59); */
    color: rgba(0, 0, 0, 0.87);
    opacity: 1;
    /* Firefox */
}

.search_input_box::-ms-input-placeholder {
    /* Edge 12-18 */
    /* color: rgb(59, 59, 59); */
    color: rgba(0, 0, 0, 0.87);
}

.search_input_box:focus {
    outline: none;
}

.large-none {
    display: none;
}

.min-none {
    display: block;
}

@media screen and (min-width: 480px) {
    .searchbar_center {
        max-width: 76rem !important;
        display: flex;
        flex-flow: row nowrap !important;
        align-items: center;
        justify-content: center !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .searchbar_center :nth-child(1) {
        order: 1;
    }

    .searchbar_center :nth-child(2) {
        order: 2;
    }

    .searchbar_center :nth-child(3) {
        order: 3;
    }
}

@media screen and (max-width: 479px) {
    .searchbar_center {
        max-width: 76rem !important;
        display: flex;
        flex-flow: row wrap !important;
        align-items: center;
        justify-content: center !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .searchbar_center :nth-child(1) {
        order: 1;
    }

    .searchbar_center :nth-child(2) {
        order: 3;
    }

    .searchbar_center :nth-child(3) {
        order: 1;
    }

    .search form {
        width: 100% !important;
        margin-left: 0rem !important;
        margin-right: 0rem !important;
    }

    .input-search-max {
        width: 90vw !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .searchbar .icons_right i {
        padding: 6px !important;
    }

    .searchbar .icons_right {
        margin-right: 0.5rem !important;
    }

    .large-none {
        display: block;
    }

    .min-none {
        display: none;
    }

    .menuAndLogo img {
        margin-left: 0rem;
    }
    .searchbar{
        background-color: #fff !important;
        /* margin-bottom: 23rem !important; */
    }
}